main {
  display: grid;
  background-color: #fff4e3;               
  
}

.caja {
  display: grid;
  width: 640px;
  height: 430px;
  padding: 20px;
  top: 328px;
  left: 400px;
  background-color: #95bdca;
  box-shadow: rgba(000, 000, 000, 0,2)
  
}

.name {
   display: grid;
  


}


#img {  
    width: 122px;
    height: 173px;
    background-color: aliceblue;
    border: 2px solid rgba(00, 00, 00, 1);
    padding: 20px;
    top: 258px;
    left: 428px;
    border-radius: 6px;
}